@media screen and (max-width:770px) {
    
    .topbar{
        display: none;
    }
    .wrapper{
        width: 100%;
       margin: 0;
       padding: 0;
    }

    .menu-bar{
        display: block;
        width: 100%;
    }
  
    .header{
        margin: 0;
        width: 100%;
        
    }
    
    .header img{
        
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    
    
    



.products{
    width: 100%;
    margin-top: 100px;
}

.products h1{
    text-align: center;
    padding: 40px 0;
}

.products-mean .card-group{
    padding: 0px;
}

.products-mean .card-group .card{
    padding:0;
    width: 100%;
}

.products-mean .card-group .card img{
    padding:10px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.products-mean .card-group .card-body{
    text-align: center;
}
    


.buying{
    display: none;
}

.buying1{
    display: block;
}

.buying1 .test{
    margin: 0;
}

.buying1 h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}



.buying1 .test{
    margin-top: 200px;
    width: 90%;
    
    position: relative;
}

.buying1 .test .card-group{
    display: flex;
    margin-left: 50px;
}

.buying1 .test .card-group .card
{
    text-align: center;
    width: 100%;
    height: 600px;
    margin-left: 0;
}

.buying1 .test .card-group .card img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#carouselExampleAutoplaying{
    width: 100%;
    display: flex;
}

.our-about{
   display: none;
}

footer{
    display: none;
}

.footer-responsive{
    display: block;
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: grey;
}

.footer-responsive .contact a{
    font-size: 20px;
    padding-left: 10px;
    color: white;
}

.location{
    display: block;
    margin-top: 50px;
    width: 100%;
}
.location iframe{
    width: 100%;
}


}

.location-text{
    display: flex;
}

.location-text i{
    margin-top: 9px;
    margin-left: 6px;
}